
body{
 background-image: url(pattern.png);
 background-repeat: repeat;
}

.nav{
position: fixed;
left:0;
top:0;
width: 100%;
background: white;
text-align: center;
}

#name {
    color: white;
    background-color: #4aaaa5;
    width: 20%;
    height: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    float: left;
}

#links {
float: right;
}


ul{
list-style-type: none;
margin: 0;
padding: 0;
width: 60px;
}

.wrapper{
 display: block;
 background-color: white;
 width: 950px;
 
 margin: 0 auto;
}

#about {
  color: #4aaaa5;
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  display: block;
  
}

img {
 position: relative;
 padding: 10px;
 margin: 20px;
 float: left;
}

#bio {
    background-color: #ffffff;
    color: #777777;
    padding: 100px;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    clear: both;
    

}

.footer{
    position: fixed;
    left:0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: white;
    text-align: center;
    border-style: solid;
    border-top-width: 10px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-color: #4aaaa5;
    
}
