
body{
 background-image: url(pattern.png);
 background-repeat: repeat;
}

.nav{
    position: fixed;
    left:0;
    top:0;
    width: 100%;
    background: white;
    text-align: center;
    border-style: solid;
    border-top-width: 0px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-color:#dddddd;
    
}

#links{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #777777;
    float: right;
    padding: 20px;
    margin-right: 200px;
    margin-top:20px;
}

#name {
    color: white;
    background-color: #4aaaa5;
    height: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    float: left;
   margin-bottom: 0 auto;

}


.wrapper{
 display: block;
 background-color: white;
 width: 950px;
 margin: 0 auto;
}

#about {
  color: #4aaaa5;
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  display: block; 
}

img {
 position: relative;
 padding: 10px;
 margin: 20px;
 float: left;
}

#bio {
    background-color: #ffffff;
    color: #777777;
    padding: 100px;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    clear: both;
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
}

.footer{
    position: fixed;
    left:0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: white;
    text-align: center;
    border-style: solid;
    border-top-width: 8px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-color: #4aaaa5;
}
